# System Configuration
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=SubHub
DB_USERNAME=postgres
DB_PASSWORD=
DB_SYNC=false
AUTO_LOAD=true

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate Limiting (Throttling)
THROTTLE_SHORT_TTL=1000
THROTTLE_SHORT_LIMIT=100
THROTTLE_MEDIUM_TTL=60000
THROTTLE_MEDIUM_LIMIT=300
THROTTLE_LONG_TTL=3600000
THROTTLE_LONG_LIMIT=1000

# Feature Flags
SCHEDULER_ENABLED=true

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=